// email login and password from gmail account with enabled less secure apps
// https://www.google.com/settings/security/lesssecureapps
EMAIL_LOGIN=email@gmail.com
EMAIL_PASSWORD=PASSWORD

DB_HOST=mongodb://localhost/todo

JWT_PRIVATE_KEY=SOME PRIVATE KEY

SITE_URL=http://localhost:3000
